.lessons {
  background-color: #f6d7b0;
  opacity: 85%;
  border: 1px #f2d2a9 solid;
  box-shadow: 2 2 #eccca2;
  padding: 20px;
}

.lessons h2 {
  color: black;
  text-align: center;

}

.lesson-1 img {
  width: 100px;
  height: 100px;
}

.lesson-holder {
  display: flex;
  justify-content: space-between;
}

.lesson-1{
  display: block;
  padding: 20px;
  text-align: center;
  width: 200px;
  border: 1px #e7c496 solid;
  box-shadow: 2px 2px #e1bf92;
  color: navy;
  font-weight: light;
  background-color:	rgb(214, 214, 214);
  border-radius: 10px;
}
